:root {
  --purple1: #220E2E;
  --purple2: #401C4A;
  --purple3: #96468A;
  --pink: #D581BE;
  --orange: #E27566;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--purple1);
  background-image: url(./vincentiu-solomon-ln5drpv_ImI-unsplash.jpg);
  background-size: contain;
  background-attachment: fixed;
  color: var(--purple1);
  font-family: 'Lato', sans-serif;
}

.container {
  background: white;
  width: 70vw;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
}

nav {
  position: sticky;
  top: 0;
  background: var(--purple3);
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  flex-shrink: 0;
}

.nav-links {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  list-style-type: none;
  display: block;
  height: 60px;
  width: 80%;
  background: var(--purple2);
  margin: 10px;
  padding: 0 10px;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.nav-link li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-icon {
  font-size: 26px;
  color: var(--pink);
}

.home-link {
  height: 100px;
}

.pro-links {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  width: 100%;
  margin-bottom: 20px;
}

.pro-links a {
  background: var(--pink);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 28px;
}

.content {
  flex-grow: 1;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--purple3);
  text-align: center;
  padding: 10px 0;
}

p {
  margin: 10px 0;
}

.page-header {
  width: 70%;
  height: 100px;
  margin: 30px auto;
  border: 3px solid var(--purple2);
  border-radius: 10px;
  background: var(--purple3);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--purple1);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  text-transform: lowercase;
  padding-right: 10px;
}