@media only screen and (max-width: 500px) {
  .container {
    width: 100vw;
    flex-direction: column;
  }

  nav {
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    flex-direction: row;
    align-items: center;
  }

  .nav-links {
    flex-direction: row;
    justify-content: center;
  }

  .nav-link {
    width: 50px;
    margin: 0 2px;
  }

  .nav-name {
    display: none;
  }

  .pro-links {
    margin: 0;
    display: none;
  }

  /* .pro-links a {
    width: 40px;
    height: 40px;
    font-size: 25px;
  } */

  .content {
    width: 100vw;
    left: 0;
  }

  .column {
    width: 100%;
  }
}