.content-inner {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 250px;
  max-width: 40%;
  border: 3px solid var(--purple3);
  border-radius: 10px;
  float: left;
  margin: 20px;
}

.skills {
  width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
}

.skills-desc {
  width: 100%;
  display: flex;
  justify-content: center;
}