.img1, .img2 {
  width: 250px;
  max-width: 40%;
  margin: 20px;
}

.img1 img, .img2 img {
  width: 100%;
  border: 3px solid var(--purple3);
  border-radius: 10px;
}

.img1 {
  float: left;
}

.img2 {
  float: right;
}

.skills {
  width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
}

.skills-desc {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.content-inner:nth-of-type(1) {
  margin-bottom: 0;
}

.content-inner::after {
  content: "";
  clear: both;
  display: table;
}