.page-header {
  width: 70%;
  height: 100px;
  margin: 30px auto;
  border: 3px solid var(--purple2);
  border-radius: 10px;
  background: var(--purple3);
  background-image: url(../images/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--purple3);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  text-transform: lowercase;
  padding-right: 10px;
  position: relative;
  overflow: hidden;
}

.page-header .header-icon:nth-child(1) {
  transform: scale(2);
  position: absolute;
  left: 30px;
  top: 30px;
}

.page-header .header-icon:nth-child(2) {
  transform: scale(4);
  position: absolute;
  left: 120px;
  top: 30px;
  opacity: 0.5;
}

.header-text {
  text-shadow: 0 0 7px white;
  z-index: 1;
  color: var(--purple2);
}

.link-button {
  background: var(--purple2);
  padding: 10px;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-decoration: none;
  margin: 10px;
}

.link-button:hover {
  transform: scale(1.1);
}

.centre-text {
  align-self: center;
}

.pro-links {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  width: 100%;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

.pro-links-icon-outer {
  background: var(--pink);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 28px;
  margin: 10px;
}

.pro-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.pro-links a:hover {
  transform: scale(1.1);
}

.pro-links a:hover .pro-links-icon-outer {
  background: var(--orange);
}

.pro-icon-svg {
  height: 28px;
}