/* Some general components used in multiple parts of the site
Some page-specific components are contained in their respective style sheets */

/* Page header: displays at the top of every page other than index
An image decorated with text and icons that represent the page */
.page-header {
  width: 70%;
  height: 100px;
  margin: 30px auto;
  border: 3px solid var(--purple2);
  border-radius: 10px;
  background: var(--purple3);
  background-image: url(../images/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--purple3);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  text-transform: lowercase;
  padding-right: 10px;
  position: relative;
  overflow: hidden;
}

.page-header .header-icon:nth-child(1) {
  transform: scale(2);
  position: absolute;
  left: 30px;
  top: 30px;
}

.page-header .header-icon:nth-child(2) {
  transform: scale(4);
  position: absolute;
  left: 120px;
  top: 30px;
  opacity: 0.5;
}

.header-text {
  text-shadow: 0 0 7px white;
  z-index: 1;
  color: var(--purple2);
}

/* Link button - a rounded button used to decorate some navigation links */
.link-button {
  background: var(--purple2);
  padding: 10px;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-decoration: none;
  margin: 10px;
}

.link-button:hover {
  transform: scale(1.1);
  background: var(--orange);
  color: white;
}

.centre-text {
  align-self: center;
  text-align: center;
}

/* Small round icons used for social media links, technlogies, etc
Changes in colour + size when hovered over */
.pro-links {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  width: 100%;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

.pro-links-icon-outer {
  background: var(--pink);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 28px;
  margin: 10px;
}

.pro-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.pro-links a:hover {
  transform: scale(1.1);
}

.pro-links a:hover .pro-links-icon-outer {
  background: var(--orange);
}

.pro-icon-svg {
  height: 28px;
}

/* Captioned image
Displays a given image with a caption underneath */
.captioned-image-container {
  margin: 10px;
}

.captioned-image {
  border: 3px solid var(--purple3);
  border-radius: 10px;
  width: 100%;
}

.caption {
  font-size: 12px;
  color: var(--pink);
  font-style: italic;
}

.caption::before {
  content: "Caption: ";
}

/* Displays an image with a simple border to match the style of the site */
.image-border {
  width: 80%;
  border: 3px solid var(--purple3);
  border-radius: 10px;
  margin: 10px;
}

/* Wrapper that places an icon in the corner of image if user can click on it to view the full size image */
.view-full {
  position: relative;
}

.view-full:hover {
  opacity: 0.8;
  transform: none;
}

.view-full-icon {
  position: absolute;
  bottom: 7px;
  right: 5px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.view-full:hover .view-full-icon {
  transform: scale(1.1);
}