.info-container {
  width: 100%;
  display: flex;
  margin: 20px 0;
  border: 3px solid var(--pink);
  border-radius: 10px;
  padding: 10px;
}

/* Container for quick info or images relating to the topic */
.quick-info {
  width: 30%;
  flex-shrink: 0;
  align-self: center;
  overflow: hidden;
}

.quick-info-img {
  border: 3px solid var(--purple3);
  border-radius: 10px;
  width: 100%;
}

.quick-info ul {
  border: 3px solid var(--purple3);
  border-radius: 10px;
  padding: 10px;
}

.quick-info li {
  margin-bottom: 7px;
}

.extended-info {
  flex-grow: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.info-container:nth-of-type(even) .quick-info {
  order: 1;
}

.history-links {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px 0;
}

/* Component that clearly labels list of technologies used in the project */
.used-tech::before {
  content: "Technologies used: ";
  font-weight: bold;
}
