@media only screen and (max-width: 500px) {
  .container {
    width: 100vw;
    flex-direction: column;
  }

  nav {
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
  }

  .nav-links {
    flex-direction: row;
    justify-content: center;
    width: auto;
  }

  .nav-link {
    width: 60px;
    margin: 0 2px;
  }

  .nav-link a, .home-link {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
  }

  .home-link {
    height: 60px;
  }

  .nav-name {
    /* display: none; */
    display: relative;
    top: 30px;
  }

  .content {
    width: 100vw;
    left: 0;
  }

  .column {
    width: 100%;
  }

  header {
    width: 90%;
  }

  .main-blog-img {
    float: none;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .blog-entry:nth-of-type(odd) .main-blog-img {
    float: none;
  }

  .padder {
    display: none;
  }

  .info-container {
    flex-direction: column;
  }

  .info-container:nth-of-type(even) .quick-info {
    order: initial;
  }

  .quick-info {
    width: 100%;
    order: initial;
    margin-bottom: 10px;
  }

  form {
    width: 80%;
    grid-gap: 10px;
  }

  .latest-posts {
    width: 100%;
  }

  .link-button {
    white-space: nowrap;
  }

  .header-text {
    font-size: 40px;
    text-align: right;
  }
}