@media only screen and (max-width: 500px) {
  .container {
    width: 100vw;
    flex-direction: column;
  }

  nav {
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    flex-direction: row;
    align-items: center;
  }

  .nav-links {
    flex-direction: row;
    justify-content: center;
  }

  .nav-link {
    width: 50px;
    margin: 0 2px;
  }

  .home-link {
    height: 60px;
  }

  .nav-name {
    display: none;
  }

  .pro-links {
    margin: 0;
    display: none;
  }

  .content {
    width: 100vw;
    left: 0;
  }

  .column {
    width: 100%;
  }

  .page-header {
    width: 90%;
  }

  .main-img {
    width: 150px;
  }

  .padder {
    display: none;
  }

  .info-container {
    flex-direction: column;
  }

  .info-container:nth-of-type(even) .quick-info {
    order: initial;
  }

  .quick-info {
    width: 100%;
    order: initial;
    margin-bottom: 10px;
  }
}